<h1>Editing Influencer</h1>

<div class="section">
  <%= render 'form', influencer: @influencer %>
</div>

<%= link_to 'Show', @influencer, class: " " %> |
<%= link_to 'Back', influencers_path, class: "" %>
