<!DOCTYPE html>
<html>
  <head>
    <title>SocialCounter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="section">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
